---
import "../assets/css/bootstrap.min.css";
import "../assets/css/animate.min.css";
import "../assets/css/owl.carousel.min.css";
import "../assets/css/owl.theme.default.min.css";
import "../assets/css/jquery.fancybox.min.css";
import "../assets/fonts/icomoon/style.css";
import "../assets/fonts/flaticon/font/flaticon.css";
import "../assets/css/aos.css";
import "../assets/css/style.css";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import WhatsappIcon from "../components/WhatsappIcon.astro";
import data from "../data/global.json";
const gtag = data.tokens.googletagmanager;
const { href } = Astro.url;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{data.name}</title>
		<meta charset="utf-8" />
		<script
			async
			is:inline
			src={"https://www.googletagmanager.com/gtag/js?id=" +
				data.tokens.googletagmanager}></script>
		<script is:inline define:vars={{ gtag }}>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", gtag);
		</script>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="description" content={data.description} />
		<link rel="home" href={data.domain} />

		<!-- Social Meta -->
		<meta property="og:site_name" content={data.name} />
		<meta property="og:title" content={data.name} />
		<meta property="og:description" content={data.description} />
		<meta property="og:url" content={href} />
		<meta property="og:image" content={data.domain} +"meta.png" />
		<meta property="og:type" content="website" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicon.png" />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Muli:wght@400;700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<Nav />

		<slot />

		<Footer />

		<div id="overlayer"></div>
		<div class="loader">
			<div class="spinner-border" role="status">
				<span class="sr-only">Carregando...</span>
			</div>
		</div>
		<WhatsappIcon />
		<script is:inline src="/assets/js/jquery-3.4.1.min.js"></script>
		<script is:inline src="/assets/js/popper.min.js"></script>
		<script is:inline src="/assets/js/bootstrap.min.js"></script>
		<script is:inline src="/assets/js/owl.carousel.min.js"></script>
		<script is:inline src="/assets/js/jquery.animateNumber.min.js"></script>
		<script is:inline src="/assets/js/jquery.waypoints.min.js"></script>
		<script is:inline src="/assets/js/jquery.fancybox.min.js"></script>
		<script is:inline src="/assets/js/jquery.sticky.js"></script>
		<script is:inline src="/assets/js/aos.js"></script>
		<script is:inline src="/assets/js/custom.js"></script>
	</body>
</html>
